.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-name {
    margin-top: 0px;
    padding-bottom: 10px;
    font-size: 32px;
}
