.orders-container{
    height: 600px;
}

.order-container{
    height: 100%;

}

.order-details{
    background-color: gold;

}

.order-list{

    overflow: scroll;
}


.orders{
    background-color: gold;
}

.details{
    background-color: greenyellow;
    /* position: sticky; */
}

.order-menu{
    background-color: sienna;
    /* position: sticky; */
}


.orders-right-column{
    position: absolute;
}