.order-item-container {
/*  width: 100%;*/
}

.order-item-header {
    width: 75%;
    align-items: center;
}

.order-item-actions {
    width: 25%;
}

.icon-possition {
    display: flex;
    align-items: center;
}

.mat-icon {
    margin-right: 15px;
}

.order-data {
    font-weight: bold;
}

.order-link {
    text-decoration: none;
}
