<mat-card>
    <mat-card-header>
        <mat-card-title>Order No. 14973</mat-card-title>
        <mat-card-subtitle>Details about your order</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra suscipit quam vitae consectetur. Ut est sem, lobortis eget quam id, laoreet ornare dolor. Phasellus dapibus id eros sit amet suscipit. Quisque eleifend pulvinar augue non vehicula. Proin et vestibulum nibh. Aliquam erat volutpat. Aliquam augue lectus, dapibus eu dapibus ac, sagittis id ipsum. Duis eget mattis urna.
        </p>
        <p>
            Pellentesque sollicitudin dolor eu tortor commodo, vel ornare elit aliquet. Nulla bibendum ornare sagittis. Duis sed mi viverra, malesuada tortor id, gravida ex. Ut in ante eros. Integer lacinia rhoncus ex quis bibendum. Praesent quis ipsum rhoncus magna congue consequat ut vitae erat. Aenean sodales tempus lorem eget bibendum. Maecenas iaculis rutrum venenatis. Aenean faucibus nibh sit amet tortor tempor, a consequat est imperdiet. Nullam bibendum pretium mattis. Nulla vitae cursus lectus. Vivamus laoreet libero ligula, at pretium lacus consectetur sit amet. Suspendisse ac sem quis sem varius volutpat. Morbi vestibulum augue eu nisl cursus dignissim ac sed ligula. Donec auctor, odio ac feugiat porta, erat elit ornare odio, vel lobortis urna arcu malesuada nibh.
        </p>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-raised-button color="primary">Order</button>
        <button mat-raised-button color="accent">Details</button>
        <button mat-raised-button color="warn">Delete</button>
    </mat-card-actions>
</mat-card>