<div fxLayout class="order-details-container">
  <div fxFlex="33%" class="order-details-details">
    <mat-list>
      <mat-list-item>
        <mat-icon color="primary">where_to_vote</mat-icon>
        <span>Location:&nbsp;</span>
        <span>{{ order.location }}</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon color="primary">play_arrow</mat-icon>
        <span>Start date:&nbsp;</span>
        <span>{{ order.dateStart | date:"dd/MM/yyyy"  }}</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon color="primary">stop</mat-icon>
        <span>End date:&nbsp;</span>
        <span>{{ order.dateEnd | date:"dd/MM/yyyy" }}</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon color="primary">local_shipping</mat-icon>
        <span>Car:&nbsp;</span>
        <span>{{ order.carRegistrationNumber }}</span>
        <span *ngIf="isIconVisible">, driver required&nbsp;</span>
        <!--<mat-icon color="primary" *ngIf="isIconVisible">emoji_people</mat-icon>-->
      </mat-list-item>
      <mat-list-item>
        <mat-icon color="primary">credit_card</mat-icon>
        <span>Price:&nbsp;</span>
        <span>{{ order.priceMin }}</span>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex="67%" class="order-details-map">
    <app-order-map></app-order-map>
  </div>
</div>
