
<mat-card>
    <mat-card-header>
        <mat-card-title>{{ order.name }}</mat-card-title>
        <mat-card-subtitle>Details about your order</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <div class="icon-possition">
                <mat-icon class="order-icon" color="primary">event_available</mat-icon>
                <div>Start date: </div>
                <div class="order-data">{{ order.orderDate }}</div>
            </div>
            <div>
                <div>Description: </div>
                <div class="order-data">{{ order.description }}</div>
            </div>
            <div class="icon-possition">
                <mat-icon class="order-icon" color="primary">place</mat-icon>
                <div>Initial: </div>
                <div class="order-data">{{ order.startingPoint }}</div>
            </div>
            <div class="icon-possition">
                <mat-icon class="order-icon" color="primary">where_to_vote</mat-icon>
                <div>Destination: </div>
                <div class="order-data">{{ order.destination }}</div>
            </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Order</button>
        <button mat-raised-button color="accent">Details</button>
        <button mat-raised-button color="warn">Delete</button>
    </mat-card-actions>
</mat-card>