 <mat-tab-group>
  <mat-tab label="Rating & Comments">
    <!--<h1>Some tab content</h1>
    <p>...</p>-->
  </mat-tab>
  <mat-tab label="Cars">
    <app-car></app-car>
  </mat-tab>
  <mat-tab label="Drivers">
    <app-driver></app-driver>
  </mat-tab>
  <mat-tab label="Orders">
    <!--<h1>Some more tab content</h1>
    <p>...</p>-->
  </mat-tab>
  <mat-tab label="Payments">
    <!--<h1>Some more tab content</h1>
    <p>...</p>-->
  </mat-tab>
  <mat-tab label="Your Profile">
    <!--<h1>Some more tab content</h1>
    <p>...</p>-->
  </mat-tab>
</mat-tab-group>
